<nav class="top-level">
  <nav class="navbar organization-bar">
    <div class="container-fluid">
      <!-- <div class="navbar-header"> -->
        <div class="organization-brand">
          Atlas Health Systems
        </div>
      <!-- </div> -->
    </div>
  </nav>
  <nav class="navbar-default menu-action-bar">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Measures", measures_path, class: "navbar-brand-link ui button", "data-tooltip"=> "Create a new Measure", "data-position"=> "top center" %>
        <%= link_to "Packages", packages_path, class: "navbar-brand-link ui button", "data-tooltip"=> "Find and view a Package", "data-position"=> "top center" %>
        <%= link_to "Code List", code_lists_path, class: "navbar-brand-link ui button", "data-tooltip"=> "Create a new Code List", "data-position"=> "top center" %>
        <%= link_to "Reports", reports_path, class: "navbar-brand-link ui button", "data-tooltip"=> "View Reports", "data-position"=> "top center" %>
        <%= link_to "Jobs", jobs_path, class: "navbar-brand-link ui button", "data-tooltip"=> "Find and View Job Status", "data-position"=> "top center" %>
      </div>
    </div>
  </nav>

  <!-- Third Level INDEX Page Action Bar -->
  <% if controller_name == "code_lists" && action_name == "index" %>
    <nav class="navbar-default codelist-action-bar">
      <div class="container-fluid">
        <div class="navbar-header nav-action-button">
          <div data-turbolinks="false">
            <%= link_to "Create CodeList", "#", class: "navbar-brand new-code-list"%>
          </div>
        </div>
      </div>
    </nav>
  <% end %>

  <!-- Third Level SHOW Page Action Bar -->
  <% if controller_name == "code_lists" && action_name == "show" %>
    <nav class="navbar-default codelist-action-bar">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class='navbar-brand new-code-list'><strong>Name:</strong> <%= @code_list.name %></div>
        </div>
        <div class="navbar-header">
          <div class='navbar-brand new-code-list'><strong>System:</strong> <%= @code_list.code_system %></div>
        </div>
        <div class="navbar-header">
          <div class='navbar-brand new-code-list'><strong>Code Count:</strong> <%= @current_list_codes.count %></div>
        </div>
        <div class="navbar-header pull-right nav-action-button">
          <div data-turbolinks="false">
            <%= link_to "Edit CodeList", "#", class: "navbar-brand new-code-list"%>
          </div>
        </div>
      </div>
    </nav>
  <% end %>

</nav>